
  <div class="row">
    <div class="navbar fixed-top  " style="height: 100px;">
      <div class="col-lg-12 col-md-12  ">
        
        <div id="hero">
          <div id="h1"></div>
          <div id="h3"><strong>Avion Flight Reservation Service</strong></div>
          
        </div>
      </div>
      <div class="col-lg-12 col-md-12  ">
      
      </div>

    </div>

  </div>

<!-- <div id="mySidenav" class="sidenav">
    <a routerLink="/home" id="home" class="btn-change">Home</a>
    <a routerLink="/book" id="book" class="btn-change ">Book</a>
    <a routerLink="/tickets" id="tickets" class="btn-change">Tickets</a>
    <a routerLink="/cancel" id="cancel" class="btn-change ">Cancel</a>
  </div> -->
  
<div class="bg">
  <div id="wrap">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- <nav class="navbar fixed-bottom navbar-light bg-info" style="height: 50px;">
    <footer class="text-light">&copy; Copyright 2020. All rights are reserved.</footer>
  </nav> -->
