
<br><br><br><br>
  <div class="bg">
<nav class="navbar navbar-expand-md navbar-secondary  " style="text-align: center">
   
        

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="collapse navbar-collapse" id="navbarCollapse" >
        <div class="navbar-nav">
            <a routerLink="/home" class="btn-change" style="margin-left: 480px;">HOME</a>
            <a routerLink="/book" class="btn-change ">BOOK</a>
            <a routerLink="/tickets" class="btn-change">TICKETS</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a routerLink="/cancel" class="btn-change ">CANCEL</a>
        </div>
        <div class="navbar-nav ml-auto">
            <a routerLink="/start" class="btn-change">LOGOUT</a>
        </div>
    </div>
</nav>
</div>

